<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jactive.mybatis.Dao">

  <insert id="insert" parameterType="com.jactive.mybatis.MyEntity"
    useGeneratedKeys="true" keyProperty="entityId" keyColumn="ENTITY_ID">
    insert into MY_ENTITIES
    (ENTITY_ID, COLUMN1)
    values
      ( DEFAULT, #{property1} )
  </insert>



  <insert id="batchInsert" parameterType="com.jactive.mybatis.BatchInsertEntities"
    useGeneratedKeys="true" keyProperty="entityId" keyColumn="ENTITY_ID">
    
    insert into MY_ENTITIES
    (ENTITY_ID, COLUMN1)
    values
    <!-- 
      Both entities and parameters are valid, which are defined by
      com.jactive.mybatis.BatchInsertObjectWrapper.get(PropertyTokenizer)
    -->
    <foreach item="item" collection="entities" separator=",">
      ( DEFAULT, #{item.property1} )
    </foreach>
  </insert>

</mapper>
