<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <typeHandlers>
    <typeHandler handler="com.jactive.mybatis.BatchInsertEntitiesTypeHandler"/>
  </typeHandlers>
  <objectWrapperFactory type="com.jactive.mybatis.BatchInsertObjectWrapperFactory" />
  
  <mappers>
    <mapper resource="mybatis/dao-mapper.xml" />
  </mappers>
</configuration>
